*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}
.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.upload__image{
  padding: 20px;
}
.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding: 20px;
}
.paper {
  position: absolute;
  width: 400px;
  background-color: white; /* Assuming theme.palette.background.paper is white */
  border: 2px solid #000;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); /* Adjust based on theme.shadows[5] */
  padding: 16px 32px 24px; /* Assuming theme.spacing(2, 4, 3) translates to these values */
}

.app__signUp{
  display: flex;
  flex-direction: column;
}

.input__submit{
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.button__submit{
  background-color: #0095f6;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}